@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.animate-marquee {
    display: flex;
    width: max-content;
    animation: marquee 30s linear infinite;
    white-space: nowrap;
    flex-shrink: 0;
}

html,
body {
    overflow-x: hidden;
}